@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><b>Saif Kamal Chowdhury</b><br>
    Contact:<br>
    <b>Phone:</b>01723753954<br>
    <b>Email:</b>bsse0924@iit.du.ac.bd<br>

</p>